/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

 // colors
 $skill-green:  #009688;

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.colab-nav{
  background:  $skill-green;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.profile-div{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background:  #B2DFDB;
  border: 2px solid #00695C;
  position: absolute;
  margin: 25px -5px;
}
.title-cont{
  text-align: right;
}
.logo-txt{
  font-family: 'Sofia';
  font-size: 30px;
  font-weight: 600;
}
body{
  background: #f3f3f3 !important;
}

// buttons
.select-nav{
  height: 80px;
  width: 100%;
  color: white;
}
.btn-area{
  width: 50%;
  height: 100%;
}
.btn-pick{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background:  $skill-green;
  box-shadow: 2px 4px 22px #888888;
}

// remove text decoration in a tag
a, a:hover{
  text-decoration:none !important;
  color: white !important;
}
